<h3>Lista de Alunos</h3>
<table class="table table-dark" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Opção</th>
      </tr>
   </thead>
   <tbody>
    <tr *ngFor="let item of estudanteData">
        <th scope="col">{{item.id}}</th>
        <th scope="col">{{item.nome}}</th>
        <th scope="col">{{item.email}}</th>
        <th (click)="deletaEstudante(item.id)"><span>Deletar</span></th>
      </tr>
 </tbody>
  </table>
